PORT=5000
JWT_SECRET=super-secret-key
ALLOWED_ORIGIN=http://localhost:3000,http://localhost:3001

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/openrouter?retryWrites=true&w=majority

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Admin User
